
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 285px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.gallery {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery-item a {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.image-desc {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 8px 8px;
}

.image-desc-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.image-desc-label {
  font-weight: bold;
  color: #333;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}

